<span class="canvas-bkg">
<div class="spacing">
<mat-card class="custom-header-style">
  <mat-card-title>Voucher List</mat-card-title>
  <div *ngIf="voucherTextChange>0">
    <label id="voucher-radio-group-label">Pick a voucher type</label>
<mat-radio-group
  aria-labelledby="voucher-radio-group-label"
  class="voucher-radio-group"
  [(ngModel)]="favoriteVoucherType" >
  <mat-radio-button class="voucher-radio-group" *ngFor="let voucherType of voucherTypes" [value]="voucherType" (change)="onItemChange($event.value)">
    {{voucherType}}
  </mat-radio-button>
</mat-radio-group>
  </div>
<form [formGroup]="voucherForm">
  <mat-form-field class="form-label">
    <mat-label>Voucher Quantity</mat-label>
        <input type="number" id="voucherQuantity" matInput #voucherQuantity class="formControl input-form" name="voucherQuantity" required
               formControlName="voucherQuantity" placeholder="Enter voucher quantity e.g. 50" (keyup)="onInputChange()" autocomplete="off">
  </mat-form-field>
<!--  <p>-->
<!--    <label for="voucherQuantity">Voucher Quantity </label>-->

<!--  </p>-->
</form>

  <mat-list>
    <ul>
    <span *ngFor="let voucher of voucherList| paginate: { itemsPerPage: 50, currentPage: pageNumber }">
      <li>
    <mat-list-item >
      <mat-icon matListItemIcon>confirmation_number</mat-icon>
      {{voucher}}
    </mat-list-item>
          </li>
      <mat-divider></mat-divider>
    </span>
      </ul>
  </mat-list>
</mat-card>
  <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
</div>
</span>
